@font-face {
  font-family: "RockSalt";
  src: url('../fonts/RockSalt-Regular.ttf') format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WixMadeforDisplay";
  src: url("../fonts/WixMadeforDisplay-VariableFont_wght.ttf") format("truetype");     
  font-style: normal;
  font-display: swap;
}